.top {
/*====================================================================
                    mv
====================================================================*/
.mv {
    background-image: url(./../../img/mv-01.png);
    background-size: auto 100%;
    background-position: 50%;
    margin-top: -135px;
    padding-top: 235px;

    @include mq(sm){
        padding-top: 310px;
    }
    
    .inner {
        display: flex;
        
        @include mq(md){
            flex-direction: column;
            max-width: 600px;
            padding-bottom: 80px;
        }
    }

    &__contents {
        color: $c-03;
        width: 45%;
        margin-top: 42px;

        @include mq(md){
            width: 100%;
            margin-top: 0;
        }
    }
    
    &__media {
        width: 55%;
        
        @include mq(md){
            width: 100%;
            margin-top: 30px;
        }
    }

    &__title {
        font-size: $fz-07;
        font-weight: bold;

        @include mq(xl){
            font-size: 4.75vw;
        }

        @include mq(md){
            text-align: center;
            font-size: $fz-02;
        }
    }

    &__text-wrap {
        margin-top: 10px;

        @include mq(md){
            text-align: center;
            font-size: $fz-06;
        }
    }

    .m-btn-01 {
        margin-top: 32px;
    }

    .waves__wrap {
        margin-top: -30px;
    }
}

/*====================================================================
                    lead
====================================================================*/
.lead {
    background-color: $bg-01;
    padding-top: 40px;
    border: 2px solid $bg-01;
    
    &__text {
        text-align: center;
        font-size: $fz-02;

        @include mq(md){
            font-size: $fz-08;
        }
    }
}

/*====================================================================
                    sos
====================================================================*/
.sos {
    padding-top: 100px;
    background-color: $bg-01;
    overflow: hidden;

    .inner {
        @include mq(sm){
            max-width: 568px;
        }
    }

    .m-media-lyt__wrap {
        @include mq(md){
            align-items: center;
        }
    }

    .m-media-lyt__item {
        &:first-child {
            margin-top: 46px;
            
            @include mq(sm){
                margin-top: 16px;
            }
        }

        @include mq(md){
            margin-top: 0;
        }

        &:last-child {
            .m-media {
                margin-left: -15%;
            }
        }
    }

    &__text {
        margin-top: 16px;

        @include mq(sm){
            font-size: $fz-06;
            text-align: center;
        }
    }

    &__download {
        margin-top: 60px;

        @include mq(sm){
            margin-top: 30px;
        }
    }

    &__download-wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto,128px)) 105px;
        grid-template-rows: auto 40px;
        gap: 8px 26px;
        
        @include mq(sm){
            grid-template-columns: 27% 23% 50%;
            grid-template-rows: auto auto;
            gap: 8px 0;
        }
    }

    &__download-text {
        grid-column: 1/3;
        font-size: $fz-06;
        margin-top: auto;

        @include mq(sm){
            grid-row: 1/2;
            grid-column: 2/4;
            margin-bottom: 24px;
        }
    }

    &__download-btn-wrap {
        display: contents;

        @include mq(sm){
            
        }
    }

    &__download-btn {
        margin-top: auto;

        &:first-child {
            grid-column: 1/2;
        }
        
        &:last-child {
            grid-column: 2/3;
        }

        @include mq(sm){
            &:first-of-type {
                grid-column: 1/3;
                margin-right: 13px;
            }
            
            &:last-of-type {
                grid-column: 3/4;
                margin-left: 13px;
            }
        }
    }

    &__download-icon {
        grid-column: 3/4;
        grid-row: 1/3;
        
        @include mq(sm){
            grid-column: 1/2;
            grid-row: 1/2;
            margin-right: 13px;
        }

        img {
            vertical-align: middle;
        }
    }
}

/*====================================================================
                    alert
====================================================================*/

.alert {
    background-color: $bg-01;
    padding-top: 70px;
    overflow: hidden;
    
    .m-media-lyt {
        &__wrap {
            gap: 0;

            @include mq(sm){
                flex-direction: column-reverse;
            }
        }

        &__item {

            &:first-child {
                margin-top: 181px;

                @include mq(md){
                    margin-top: 0;
                }

                @include mq(sm){
                    text-align: center;
                }
                
            }
            
            &:last-child {
                margin-right: -15%;

                @include mq(md){
                    display: flex;
                    align-items: center;
                }
            }

            .m-txt {
                margin-top: 6px;
            }
        }
    }
}
/*====================================================================
how-to
====================================================================*/
.how-to{
    background-color: $bg-01;

    @include mq(sm){
        padding-top: 100px;
    }

    .inner {
        padding-bottom: 120px;
    }

    &__text {
        text-align: center;
        font-size: $fz-03;
        font-weight: bold;

        @include mq(sm){
            font-size: $fz-03;
        }
    }

    &__movie {
        margin-top: 16px;
    }
}

/*====================================================================
                    collabo
====================================================================*/
.collabo {
    border-top: 2px solid $c-03;
    padding-top: 86px;
    color: $c-02;

    &__price {
        margin-top: 21px;
        
        p {
            text-align: center;
            font-size: $fz-01;

            b {
                font-size: $fz-05;
            }
        }
    }

    &__btn {
        margin-top: 42px;
    }

    &__img {
        img {
            max-width: 350px;

            @include mq(sm){
                max-width: 200px;
            }
        }
    }

    .m-media__caption {
        align-items: center;
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-top: 0;

        &::before{
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #000;
        }
    }

    .waves__wrap {
        margin-bottom: -1px;
    }

    .m-media-lyt__wrap {
        @include mq(sm){
            max-width: 568px;
        }
    }

    .m-txt {
        @include mq(sm){
            text-align: center;
            font-size: $fz-08;
        }
    }
}

/*====================================================================
                    desc
====================================================================*/
.desc {
    padding-top: 210px;
    color: $c-02;
    
    @include mq(sm){
        padding-top: 100px;
    }

    .inner {
        padding-bottom: 115px;


    }

    &__media {
        margin-top: 42px;
        display: flex;
        gap: 16%;
        justify-content: center;

        @include mq(sm){
            grid-row: 2/3;
        }
    }

    &__item {
        .m-media {
            img {
                max-width: 161px;
            }
        }

        &:first-child {
            .m-media__caption {
                &::before{
                    background-color: #56643D;
                }
            }
        }

        &:last-child {
            .m-media__caption {
                &::before{
                    background-color: #E361A0;
                }
            }
        }
    }

    .m-media {
        position: relative;

        &__logo {
            position: absolute;
            max-width: 105px;
            top: 20px;
            left: 20px;
        }

        @include mq(sm){
            // display: none;
        }
    } 

    .m-media__caption {
        align-items: center;
        display: flex;
        gap: 8px;
        justify-content: center;

        &::before{
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    &__btn {
        margin-top: 24px;
    }

    .m-media-lyt__item {
        @include mq(sm){
            display: grid;
            grid-template-rows: repeat(6, auto);
        }
    }

    .m-txt {
        @include mq(sm){
            text-align: center;
        }
    }
}

/*====================================================================
                    rental
====================================================================*/
.rental {
    padding-top: 185px;
    background-color: $bg-01;
    margin-top: -1px;
    color: $c-02;

    .inner {
        padding-bottom: 154px;
    }
    
    .m-txt {
        max-width: 678px;
        margin: 0 auto;
        margin-top: 28px;

        @include mq(sm){
            text-align: center;
        }
    }

    .m-media__caption {
        text-align-last: left;
    }

    .m-btn-01 {
        margin-top: 68px;
    }
}
}

.footer {
    $this : &;

    background-color: $bg-01;
    padding-bottom: 106px;

    &__nav-wrap {
        display: flex;
        padding-bottom: 4px;
        border-bottom: 1px solid $c-02;
        align-items: center;
        
    }

    &__logo {
        width: 148px;

        a {
            transition: opacity .2s;

            &:hover{
                opacity: .7;
            }
        }
    }

    &__links {
        align-items: center;
        width: calc(100% - 148px);
        padding-left: 42px;
        display: flex;
        justify-content: space-between;

        @include mq(sm){
            flex-direction: column;
        }
    }

    &__nav {
    }
    
    &__list {
        align-items: center;
        display: flex;
        gap: 16px;

        @include mq(sm){
            flex-direction: column;
        }
    }

    &__item {
        a {
            color: $c-01;
            transition: opacity .2s;
            text-decoration: none;
            font-weight: bold;

            &:hover{
                opacity: .7;
            }
        }
    }

    &__sns {
        align-items: center;
        display: flex;
        gap: 16px;

        a {
            transition: opacity .2s;

            &:hover{
                opacity: .7;
            }
        }
    }

    &__info {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq(sm){
            flex-direction: column;
        }
    }

    &__policy {
        display: flex;
        gap: 16px;

        @include mq(sm){
            flex-direction: column;
        }
    }
    
    &__policy-item {
        position: relative;

        a {
            font-size: $fz-06;
            text-decoration: none;
            transition: opacity .2s;
            color: $c-01;

            &:hover{
                opacity: .7;
            }
        }

        &+& {
            &::before{
                position: absolute;
                content: "";
                width: 2px;
                height: 2px;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background: $c-01;
                top: 50%;
                left: -8px;

                @include mq(sm){
                    display: none;
                }
            }
        }

        @include mq(sm){
            text-align: center;
        }
    }

    &__copy {

    }

    &__copy-text {
        font-weight: bold;
    }


    @include mq(sm){
        #{$this} {
            &__nav-wrap {
                padding-top: 70px;
                flex-direction: column;
                border-top: 1px solid $c-02;
                border-bottom: 0 solid inherit;
            }

            &__links {
                padding-left: 0;
                margin-top: 16px;
            }

            &__sns {
                margin-top: 16px;
            }

            &__info {
                margin-top: 0;
            }

            &__copy-text {
                margin-top: 16px;
            }
        }
    }

}