/*====================================================================
                    loading
====================================================================*/

.loading {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-image: url(./../../img/mv-03.png);
    background-size: auto 100%;
    background-position: 50%;
    overflow: hidden;
    animation: fadeout  1s linear 4.5s forwards;

    @include mq(sm){
        background-position: 0 0;
    }

    &__logo-wrap {
        box-sizing: content-box;
        max-width: 1260px;
        margin: 0 auto;
        padding: 20px 35px;
    }

    &__logo {
        position: relative;
        display: block;
        width: 170px;
        z-index: 100;
    }

    &__txt {
        position: relative;
        text-align: center;
        z-index: 100;
        font-size: $fz-02;
        color: $wave-04;
        margin-top: 20%;
        font-weight: bold;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100vw;
        height: 0;
        // background-color: rgba($wave-01, .7 );
        background-color: $wave-01;
        left: 0;
        bottom: 0;
        animation: bg_rise 5.5s ease-in-out 0s forwards;
        
        // @include mq(md){
        //     animation: bg_rise 5.5s ease-in-out 0s forwards;
        // }

        // @include mq(sm){
        // }
    }

    .waves__wrap {
        position: absolute;
        bottom: 0%;
        width: 100%;
        animation: wave_rise 5.5s ease-in-out 0s forwards;
        
        @include mq(xl){
            bottom: 22vw;
        }
        
        @include mq(md){
            bottom: 468px;
        }

        @include mq(sm){
            bottom: 45%;
        }

        .wave-02 {
            animation: wave 6s cubic-bezier(.55,.5,.45,.5) -2s infinite;
        }
        
        .wave-04 {
            animation: wave 9s cubic-bezier(.55,.5,.45,.5) -3s infinite;
            // animation: wave 4s linear 0s infinite;
        }
        
        .wave-01 {
            animation: wave 12s cubic-bezier(.55,.5,.45,.5) -4s infinite;
            // animation: wave 4s linear -1s infinite;
        }
    }

    .waves {
        // opacity: .7;
    }

    @keyframes fadeout {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    
    @keyframes wave {
        0% {
            transform: translate3d(-130px,0,0);
        }
        100% { 
            transform: translate3d(130px,0,0);
        }
    }

    @keyframes bg_rise {
        37% {
            height: 43%;
        }

        38% {
            height: 43%;
        }

        40% {
            height: 42.8%;
        }

        41% {
            height: 42.7%;
        }

        43% {
            height: 43%;
        }

        42% {
            height: 43%;
        }

        45% {
            height: 43%;
        }

        70% {
            height: 100%;
        }

        75% {
            height: 100%;
        }

        100% {
            height: 0%;
        }
    }

    @keyframes wave_rise {
        0% {
            bottom: 0%;

            @include mq(sm){
                bottom: 22vw;
            }
        }

        37% {
            bottom: 41%;
        }

        38% {
            bottom: 41%;
        }

        40% {
            bottom: 40.8%;
        }

        41% {
            bottom: 40.7%;
        }

        43% {
            bottom: 41%;
        }

        42% {
            bottom: 41%;
        }

        45% {
            bottom: 41%;
        }

        70% {
            bottom: 100%;
        }

        75% {
            bottom: 100%;
        }

        100% {
            bottom: 0%;
        }
    }
}