$breakpoints: (
//キー  値
    'xs': 'screen and (max-width: 376px)',
    'sm': 'screen and (max-width: 768px)', //767px以下（スマホ）用の表示
    'md': 'screen and (max-width: 900px)', //1024px以上（タブレット・PC）用の表示
    'mds': 'screen and (min-width: 901px)', 
    'xl': 'screen and (max-width: 1200px)',
    'xxl': 'screen and (min-width: 1201px)'

) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
@include mq(mds){
    .is-sp{
        display: none !important;
    }
}
@include mq(md){
    .is-pc{
        display: none !important;
    }
}

// color
$c-01: #213153;
$c-02: #00377E;
$c-03: #fff;

// wave color
$wave-01 : #8094BA;
$wave-02 : #CED6EA;
$wave-03 : #EDF1F6;
$wave-04 : #fff;

// bg color
$bg-01: #EDF1F6;
$bg-02: #00377E;
$bg-03: #061029;

// font-size
$fz-01: 16rem; //22
$fz-02: 35rem; //50
$fz-03: 20rem; //28
$fz-04: 48rem; //72
$fz-05: 26rem; //40
$fz-06: 12rem; //16
$fz-07: 57rem; //86
$fz-08: 14rem; 
$fz-09: 72rem; 
$fz-10: 26rem; 
$fz-11: 32rem; 

//width
$w-content: 1130px;
$w-header: 1260px;



//font-family
$ff-base: 'Noto Sans JP', sans-serif;

//hum_bar
%hum_bar {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 50em;
    left: 0;
    transition: transform .3s, opacity .3s;
}